.input-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0.325rem;
}

.input-field {
    position: relative;
    width: 400px;
    height: 58px;
}


.input-component label {
    position: absolute;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto 1.25rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: text;
    transition: 0.2s all;
    font-weight: 600;
    font-size: 1rem;
}

.input-component input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background: none;
    padding-inline: 1.25rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    color: var(--input_font_color);
    border: 1px solid var(--input_border_color_gray);
    border-radius: 6px;
}

.input-component input:focus~label,
.input-component input:valid~label {
    bottom: 100%;
    margin-left: 1.5rem;
    font-size: 0.875rem;
}

.input-component .label-bg {
    position: absolute;
    inset: 0;
    bottom: 100%;
    margin: auto 0.875rem;
    background-color: var(--background_color_2);
    width: 84px;
    height: 0;

}

.input-component input:focus~.label-bg,
.input-component input:valid~.label-bg {
    height: 2px;
    transition: all 0.2s;
}


.input-component input:valid {
    background: var(--input_background_color_valid);
    border-color: var(--input_border_color_valid);
}

.input-component input.on-error {
    background: var(--input_background_color_invalid);
    border-color: var(--input_border_color_invalid);
}


.input-component .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.458rem;

    margin: auto;
    width: fit-content;
    height: fit-content;

}

.input-component .icon.pointer {
    cursor: pointer;
}


.input-component .error-msg {
    margin-top: 4px;
    font-weight: 300;
    font-size: 0.625rem;
    color: var(--input_font_color_error);
}