.subsc-btn {
    border: none;
    border-radius: 0.5rem;
    width: fit-content;
    padding: 0.875rem 2rem;
    background-color: var(--background_color_active);
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    color: var(--font_color_dark_blue_2);
    cursor: pointer;
    transition: 0.2s linear;
}

.subsc-btn:hover:not([disabled]) {
    background-color: var(--background_color_active_hover);
}

.subsc-btn:disabled {
    filter: opacity(0.7);
    cursor: default;
    /* padding: 0; */
}

.loading-span {
    font: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
}

.loading-text {
    filter: opacity(1);
}

.spinner {
    filter: opacity(0.8);
    transform: scale(2.5);
}