.category-selector-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.category-selector {
    all: unset;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.875rem 2rem 0.625rem;
    border: 1px solid transparent;
    border-radius: 3.5rem;
    transition: all 0.3s ease-out;
    cursor: pointer;
}


.category-selector-div input:checked~label {
    border: 1px solid #3DA647;
    background-color: #C9FACD;

}

.category-selector-text {
    font-weight: 400;
    font-size: 0.875rem;
    color: #000000;

}

.category-selector-div input {
    display: none;
}