.tags-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
}

.tags-label {
    font-weight: 200;
    font-size: 0.75rem;
    color: #101010;
}

.curstom-tags-input-container {
    min-height: 160px;
    max-height: 240px;
    width: 100%;
    box-shadow: inset 0 0 0 1px #CCC9C9;
    border-radius: 0.375rem;
    padding: 1rem;
    overflow-y: auto;
}

.curstom-tags-input-container .tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.625rem;

}

.curstom-tags-input-container .tag {
    height: fit-content;
    width: fit-content;
    flex-shrink: 1;
    font-size: 0.75rem;
    font-weight: 300;
    color: #747474;
    padding: 6px 0.5rem 4px;
    background-color: #EAEAEA;
    border-radius: 1.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.curstom-tags-input-container .tag svg {
    font-size: 1.125em;
    cursor: pointer;
    margin-top: -2px;
    transition: all 0.125s ease-out;
}

.curstom-tags-input-container .tag svg:hover {
    color: rgb(206, 114, 114);
}

.curstom-tags-input-container .tags .tag-input {
    font-family: inherit;
    font-size: 0.75rem;
    font-weight: 300;
    border: none;
    background: none;
    padding: 5px 0 4px;
    flex-grow: 1;
}

.curstom-tags-input-container .tags .tag-input:focus {
    outline: none;
}