.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.submit-btn {
    padding: 0.75rem 2.75rem;
    color: #202020 !important;
    font-weight: 400;
}

.cancel-btn {
    padding: 0.75rem 2.75rem;
    background: #EEEEEE !important;
}

.cancel-btn:hover {
    background: #C2C2C2 !important;
}

.buttons-container .upload-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons-container .err-msg {
    position: absolute;
    top: calc(100% + 0.2rem);
    right: 0;
    width: fit-content;
    font-size: 0.75rem;
    color: rgb(168, 14, 14);
}