.genre-selector-div {
    display: flex;
    align-items: center;
    justify-content: center;

    /* To Take All White Space*/
    /* flex-grow: 1;
    flex-shrink: 0;
    min-width: fit-content; */
}

.genre-selector-div input {
    display: none;
}

.genre-selector-div .genre-selector {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.875rem 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 1.875rem;
    gap: 0.5rem;
    cursor: pointer;
}

.genre-selector-div .plus-icon {
    width: 8px;
    margin-bottom: 4px;
}

.genre-selector-div .genre-text {
    margin: 0;
    padding: 0;
    align-items: baseline;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 0.875rem;
    color: #1A1A1A;
}

.genre-selector-div input:checked~.genre-selector {
    border: 1px solid #3DA647;
    background-color: rgba(61, 166, 71, 0.12);
}

.genre-selector-div input:checked~.genre-selector .genre-text {
    color: #3DA647;
}

.genre-selector-div .genre-selector .genre-btn-icon,
.genre-selector-div input:checked~.genre-selector .genre-btn-icon {
    width: 8px;
    height: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3px;
    transition: all 0.3s ease-out;
}

.genre-selector-div .genre-selector .genre-btn-icon {
    background-image: url('/icons/plus-icon.svg');

}

.genre-selector-div input:checked~.genre-selector .genre-btn-icon {
    background-image: url('/icons/check-icon.svg');
}