.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    gap: 0.375rem;
}

.logo-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.logo-title {
    font-family: 'Mersad', Georgia;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.logo-page-title {
    font-weight: 300;
    font-size: 10px;
    color: var(--font_color_light_black);
}