.layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 128px;
    /* position: relative; */
}

.outlet {
    /* position: absolute; */
    inset: 0;
    /* margin-left: 252px; */
    /* width: calc(100% - 252px - 128px); */
    width: calc(100% - 252px);
    padding-left: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
}