.choose-genre {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 4rem;
}

.choose-category-title {
    font-size: 1rem;
    font-weight: 600;
    color: #101010;
    margin-left: 1.5px;

}

.genres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem 0.4375rem;
}