.upload-images-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 4rem;
}


.upload-images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}


.image-preview {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 0.375rem;
    background-image: url('/icons/image-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #EFEFEF;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.delete-btn {
    all: unset;
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(215, 13, 13, 0.7);
    padding: 4px;
    border-radius: 5px;
    transform: scale(1.125);
    transition: all 0.3s ease-out;
}

.delete-btn:hover {
    background-color: rgb(215, 13, 13, 1);

}

.delete-icon {
    filter: brightness(100);
}

.image-preview .image-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.uploaded-images-amount {
    position: absolute;
    top: 100%;
    margin-top: 0.75rem;
    font-size: 0.625rem;
    font-weight: 300;
}

.images-upload-btn {
    position: relative;
    width: 108px;
    height: 108px;
    background-color: #FBFBFB;
    border: 1px dashed #9B9B9B;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.images-upload-btn:hover {
    filter: brightness(0.95);
}

.image-preview-input {
    display: none;
}


.images-upload-btn-text {
    position: relative;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
    font-size: 0.625rem;
    font-weight: 400;
    text-decoration: underline;
    color: #1E1E1E;

}



.images-upload-btn-text .plus-icon {
    transform: scale(2);
}


.upload-images-container .upload-err-msg {
    position: absolute;
    top: calc(100%);
    width: fit-content;
    margin-top: 0.75rem;
    font-size: 0.95rem;
    color: rgb(209, 87, 87);
    font-weight: 700;
    word-break: keep-all;
    white-space: nowrap;
}