.tags-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 4rem;
}

.tags-container {
    width: 100%;
    padding: 1rem;
    background-color: #FBFBFB;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
    border-radius: 0.325rem;
}