.form-textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
}


.form-textarea-label {
    font-weight: 200;
    font-size: 0.75rem;
    color: #101010;
}


.form-textarea .form-textarea-field {
    width: 100%;
    height: 147px;
    padding: 0.75rem;
    border-radius: 0.375rem;
    border: none;
    box-shadow: inset 0 0 0 1px #CCC9C9;
    font-family: inherit;
    font-size: 0.75rem;
    font-weight: 300;
    padding: 0.75rem;
    transition: all 0.3s ease-out;
    color: #272626;
    background: none;
    resize: none;
}

.form-textarea .form-textarea-field::placeholder {
    color: #747474;
}

.form-textarea .form-textarea-field:hover {
    box-shadow: inset 0 0 0 1px #929090;
}

.form-textarea .form-textarea-field:focus {
    outline: none;
    color: #595959;
    box-shadow: inset 0 0 0 1px var(--input_border_color_valid) !important;
    background: var(--input_background_color_valid) !important;
}


.form-textarea .err-msg {
    margin-left: 0.75rem;
    font-size: 0.65rem;
    color: rgb(229, 104, 104);
}