.choose-sale {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    height: fit-content;
    margin-bottom: 4rem;
}

.choose-sale .title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}



.choose-sale .title-container .onOff-btn input {
    display: none;
}

.choose-sale .title-container .onOff-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 14px;
    background: #828282;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-out;

}

.choose-sale .title-container .onOff-btn.on {
    background-color: #1D1D1D;
}

.choose-sale .title-container .onOff-btn::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 1.5rem;
    background: #D4D4D4;
    transition: all 0.3s ease-out;
}

.choose-sale .title-container .onOff-btn.off::before {
    left: 2px;
    transition: all 0.3s ease-out;

}

.choose-sale .title-container .onOff-btn.on::before {
    left: calc(100% - 12px);
    background: #67EB73;
    transition: all 0.3s ease-out;

}

.sale-input {
    width: 336px;
    opacity: 0;
    height: 0;
    transition: all 0.3s ease-out;
}

.sale-input.open {
    opacity: 1;
    height: auto;
    transition: all 0.3s ease-out;
}