.price-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #FBFBFB;
    gap: 1.625rem;
    padding: 1rem 1rem 1.5625rem;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
    border-radius: 0.375rem;
}

.price-form-title {
    color: #101010;
    font-size: 0.875rem;
    font-weight: 400;
}


.price-inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3125rem;
}

.secondary-price,
.primary-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
}