.choose-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 4rem;
}



.categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3125rem;
}