.radio-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 71px;
}

.radio-item input {
    display: none;
}

.radio-item .radio-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
}

.radio-item .radio-field .radio-input {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 3px;
    border: 1px solid #66EB71;
    transition: all 0.3s ease-out;
}


.radio-item .radio-field .radio-input::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    background-color: #66EB71;
    transform: scale(0);
    transition: all 0.3s ease-out;
}

.radio-item input:checked~.radio-field .radio-input::before {
    transform: scale(1);
    transition: all 0.3s ease-out;

}