/* table.css */

/* Style the container of the table */
.table-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-behavior: smooth;
    outline: none;
    overflow: auto;
}

.table-container.block_overflow {
    overflow: hidden !important;
    position: relative;
    background-color: rgba(0, 0, 0, 0.125);
    z-index: +10;
    filter: opacity(0.7);
}



.table-container:focus {
    outline: none;
}

/* Style the table */
.table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.table-container.block_overflow .table::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: +10;
}

.table-container .table .table-row {
    transition: 0.2s ease-out;
}

.table-container .table .table-row:hover {
    background: rgba(0, 0, 0, 0.02);
}

.table-container .table .table-row.focused {
    box-shadow: inset 0 0 0 1px var(--background_color_active);
    transition: 0.2s ease-out;
}

/* Style the table header */
.table thead {
    position: sticky;
    top: 0;
    background: var(--background_color_main);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.025);
}

.table thead th {
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 1.68rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: left;
    min-width: fit-content;
    text-wrap: nowrap;
}

.table thead::before {
    content: "";
    position: absolute;
    bottom: 1rem;
    right: 0;
    width: calc(100% - 0.75rem);
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}

/* Style the table body */




.table tbody td {
    padding: 1rem;
    font-family: inherit;
    font-size: 0.75rem;
    vertical-align: top;
}


.table tbody tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, 0.04);
    scroll-behavior: smooth;
}



.table-container .no-data,
.table-container .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-wrap: nowrap;
}