/* table.css */

/* Style the container of the table */

.table-container-pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.table-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-behavior: smooth;
    outline: none;
    overflow: auto;
}

.table-container.block_overflow {
    overflow: hidden !important;
    position: relative;
    z-index: +10;
    filter: opacity(0.6);
    transition: all 0.3s ease-out;
}



.table-container:focus {
    outline: none;
}

/* Style the table */
.table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.table-container.block_overflow .table::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: +10;
    background-color: rgba(255, 255, 255, 0.1);
}

.table-container .table .table-row {
    transition: 0.2s ease-out;
}

.table-container .table .table-row:hover {
    background: rgba(0, 0, 0, 0.02);
}

.table-container .table .table-row.focused {
    box-shadow: inset 0 0 0 1px var(--background_color_active);
    transition: 0.2s ease-out;
}

/* Style the table header */
.table thead {
    position: sticky;
    top: 0;
    background: var(--background_color_main);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.025);
}

.table thead th {
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 1.68rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: left;
    min-width: fit-content;
    text-wrap: nowrap;
}

.table thead::before {
    content: "";
    position: absolute;
    bottom: 1rem;
    right: 0;
    width: calc(100% - 0.75rem);
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}

/* Style the table body */




.table tbody td {
    padding: 1rem;
    font-family: inherit;
    font-size: 0.75rem;
    vertical-align: top;
}


.table tbody tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, 0.04);
    scroll-behavior: smooth;
}

.table-container .update-loading {
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: +100;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 15px rgb(0, 0, 0, 0.6));
    -webkit-filter: drop-shadow(0px 0px 10px rgb(0, 0, 0, 0.6));
}

.table-container .update-loading .spinner {
    filter: none;
    z-index: +1;
}


.table-container .no-data,
.table-container .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-wrap: nowrap;
}

.table-container-pagination .pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


.table-container-pagination .pagination-buttons .pagination-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.725rem;
    background: transparent;
    background: rgba(0, 0, 0, 0.03);
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
}


.table-container-pagination .pagination-buttons .page-number.static {
    transform: scale(0.7);
}

.table-container-pagination .pagination-buttons .page-number {
    border-radius: 0.5rem;
    font-size: 1.25rem;
    width: 50px;
    height: 45px;
    padding: 0.8rem 0 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: transparent;
    color: rgba(0, 0, 0, 0.75);
    user-select: none;
}

.table-container-pagination .pagination-buttons .pagination-btn:hover:not(:disabled),
.table-container-pagination .pagination-buttons .page-number:hover {
    background: rgba(0, 0, 0, 0.07) !important;
    cursor: pointer;

}

.table-container-pagination .pagination-buttons .page-number.current-page {
    position: relative;
    background: transparent;
    color: #1677ff;
    font-weight: 500;
    transition: all 0.3s ease-out;
}

.table-container-pagination .pagination-buttons .page-number.current-page::before {
    content: "";
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 0px;
    border-radius: 50%;
    border: 1px solid rgba(22, 119, 255, 0.65);
    /* background-color: rgba(22, 119, 255, 0.85); */
    transition: all 0.3s ease-out;
    animation: activePageAnim 0.5s ease-out 1;
}

@keyframes activePageAnim {
    from {
        filter: opacity(0.4);
        transform: scale(0.3);
    }

    to {
        filter: opacity(1);
        transform: scale(1);
    }
}