/* table.css */

/* Style the container of the table */
.table-container {
    overflow-x: auto;
    max-width: 100%;
}

/* Style the table */
.table {
    width: 100%;
    border-collapse: collapse;
}


/* Style the table header */
.table thead {
    position: relative;
}

.table thead th {
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 1.68rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: left;
    min-width: fit-content;
    text-wrap: nowrap;
}

.table thead::before {
    content: "";
    position: absolute;
    bottom: 1rem;
    right: 0;
    width: calc(100% - 0.75rem);
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}

/* Style the table body */


.table tbody td {
    padding: 1rem;
    font-family: inherit;
    font-size: 0.75rem;
    vertical-align: top;
}


.table tbody tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, 0.04);
}


.table tbody tr td:nth-child(1) .table-cell-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table tbody tr td:nth-child(2) .table-cell-content {
    font-weight: 600;
}