.signin-card {
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: var(--background_color_2);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2.75rem;
    border-radius: 0.5rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.3rem;
}

.title {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--font_color_active);
}

.subtitle {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--font_color_dark_blue);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.margin {
    margin-left: auto;
    margin-top: 4rem;
}