.form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
}

.form-input-label {
    font-weight: 200;
    font-size: 0.75rem;
    color: #101010;
}

.form-input .form-input-field {
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.375rem;
    border: none;
    box-shadow: inset 0 0 0 1px #CCC9C9;
    font-size: 0.75rem;
    font-weight: 300;
    padding: 0.75rem;
    transition: all 0.3s ease-out;
    font-family: inherit;
    color: #4e4d4d;
    background: none;
}

.form-input .form-input-field::placeholder {
    color: #747474;
}

.form-input .form-input-field:hover {
    box-shadow: inset 0 0 0 1px #929090;
}

.form-input .form-input-field:focus {
    outline: none;
    color: #595959;
    box-shadow: inset 0 0 0 1px var(--input_border_color_valid);
    background-color: var(--input_background_color_valid);
}